*{
    margin: 0;
    padding: 0;
	font-family: Arial, sans-serif;
}

/* Custom Scrollbar != Firefox */
::-webkit-scrollbar{
    width: 1em;
}
::-webkit-scrollbar-track{
    background: white;
}
::-webkit-scrollbar-thumb{
    background: rgb(119, 119, 119);
    border-radius: 100vw;
    border: .25em solid white;
}
::-webkit-scrollbar-thumb:hover{
    background: rgb(128, 128, 128);
}

.header{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-bottom: 200px;
    overflow: hidden;
}

.banner{
    width: 100%;
    background-image: linear-gradient(rgba(110, 47, 47, 0.334),rgba(110, 47, 47, 0.334)),url(images/pexels-cats-coming-835752.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    min-height: 400px;
    text-align: center;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 230px;

}

.nav-links{
    flex: 1;
    text-align: right;

}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px; 
    position: relative;   
    font-size: 20px;
}

.nav-links ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: 0.5s;
}

li>span a:hover{
	color: #E94D40;
    transition: 0.5s;
}

.welcome{
    padding-top: 100px;
    width: 80%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.welcome h1{
    font-family: 'Merriweather', serif;
    font-weight: 900;
    padding-top: 200px;
    font-size: 36px;
    color: #E94D40;
}

.welcome h4{
    font-family: 'Merriweather', serif;
    font-weight: 100;
    font-size: 28px;
}

.welcome p{
    padding-top: 10px;
    margin: 20px 0 20px;
    font-size: 16px;
}

/* info cards */
.infocard {
    width: 40%;
    columns: 10px 2;
    margin: auto;
    padding-top: 90px;
    text-align: center;

}

.infocard-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    background-color: #ffeaea;
    padding: 25px;
    cursor: pointer;
    transition: 0.5s;
}

.infocard-col:hover{
    box-shadow: 0 0 20px 0px rgb(0,0,0,0.2);
}

.infocard-col p{
    padding-top: 15px;
    line-height: 25px;
}

.infocard-col h3{
    font-family: 'Merriweather', serif;
}


/* Footer */
.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    padding-top: 80px;
}

.footer h4{
    font-size: 14px;
    font-family: 'Merriweather', serif;
    margin-bottom: 0px;
    color: black;
    margin-top: 20px;
    font-weight: 900;
}


/* hide 000webhost disclaimer */
.disclaimer{
    display:none;
}


.grid{
    padding-top: 100px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3,400px);
    grid-template-rows: repeat(2,275px);
    grid-gap:60px 30px;
    padding-bottom: 150px;
}
  
.grid-item{
    border:thin gray solid;
    border-radius: 10px;
    padding:10px;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 0 0 20px 0px rgb(0,0,0,0.2);
}

.grid-item:hover{
    background-color: rgba(226,0,0,0.7);
    box-shadow: 0 0 20px 0px rgba(243, 95, 95, 0.4);
    transform: scale(105%);
}

.grid h4{
    font-family: 'Merriweather', serif;
    margin-left: 5px;
    margin-top: 20px;
    font-weight: 700;
    transition: 0.5s;
    position: absolute;
}

.grid img {
    position: relative;
    width: 100%;
    border-radius: 10px;
    transition: 0.5s;
}

.grid-item:hover img{
    transition: 0.5s;
}

.pricing {
    margin: 100px auto;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;

}

.pricing h1{
    padding-bottom: 320px;
    width: 80%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-52%);
    text-align: center;
    font-family: 'Merriweather', serif;
    font-weight: 900;
    font-size: 30px;
    color: #E94D40;
}

.table {
    background-color: rgba(255, 255, 255, 0.692);
    margin-top: -330px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 180px;
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 560px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table thead tr {
    background-color: #E94D40;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.table th,
.table td {
    padding: 12px 15px;
}

.table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table tbody tr:last-of-type {
    border-bottom: 2px solid #E94D40;
}


/* Form */
.title img{
    width: 200px;
}

.forms h1{
    padding-bottom: 80px;
    width: 80%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-52%);
    text-align: center;
    font-family: 'Merriweather', serif;
    font-weight: 900;
    font-size: 30px;
    color: #E94D40;
}

.container{
    margin: auto;
    max-width: 500px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.container .title{
    font-weight: 500;
    position: relative;
}

.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .user-details .input-box{
    margin: 20px 0 12px 0;
    width: calc(100% / 2 - 20px);
}

.user-details .input-box input{
    height: 30px;
    width: 100%;
    padding-left: 5px;
}

.user-details .input-box input{
    height: 30px;
    width: 100%;
    padding-left: 5px;
}

.user-details .input-box .details{
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
}

select {
    width: 100%;
    height: 30px;
    text-align: center;
}

select option{
    text-align: left;
}

form .button{
    padding-top: 10px;
    height: 45px;
    margin: 10px 0;
}

form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: #E94D40;
    border-radius: 5px;
}

.extra-image {
    margin: 0 auto;
    width: 40%;
    background-image: url(images/sourced/pexels-anna-nekrashevich-7552317\ \(1\).jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.about-image {
    margin: -180px auto;
    width: 690px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.6),rgba(255, 255, 255, 0.6)),url(images/sourced/pexels-maria-orlova-4913399.jpg);
    background-position: center;
    background-size: cover;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    padding: 100px 0;
    box-shadow: 0 0 20px 0px rgb(0,0,0,0.2);
}

.about-image h4{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif
}

.welcome h3{
    padding-top: 10px;
    font-size: 18px;
    font-family: 'Merriweather', serif;
    padding-bottom: 100px;
}

.job h1{
    padding-top: 140px;
    width: 80%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 24px;
    color: #E94D40;
}

.job h3{
    padding-top: 29px;
    width: 80%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 100%);
    text-align: center;
    font-family: 'Merriweather', serif;
    font-weight: 500;
    font-size: 18px;
    color: #000000;
}

.afooter {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    padding-top: 150px;
}

.afooter h4{
    font-size: 14px;
    font-family: 'Merriweather', serif;
    margin-bottom: 0px;
    color: black;
    margin-top: 120px;
    font-weight: 900;
}

.jobtable {
    background-color: rgba(255, 255, 255, 0.692);
    margin-top: -280px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 180px;
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 560px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.jobtable thead tr {
    background-color: #E94D40;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.jobtable th,
.jobtable td {
    padding: 12px 15px;
}

.jobtable tbody tr {
    border-bottom: 1px solid #dddddd;
}

.jobtable tbody tr:last-of-type {
    border-bottom: 2px solid #E94D40;
}

form .contactbutton input{
    height: 10%;
    width: 110%;
    margin-right: 30px;
    outline: none;
    color: white;
    border: none;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: #E94D40;
    border-radius: 5px;
}

.contactus{
    padding-top: 10px;
    width: 80%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.contactus h1{
    font-family: 'Merriweather', serif;
    font-weight: 900;
    padding-top: 200px;
    font-size: 36px;
    color: #E94D40;
}

.contactus h4{
    font-family: 'Merriweather', serif;
    font-weight: 100;
    font-size: 28px;
}

.contactform form{
    margin: 20px 0 12px 0;
    width: calc(100% / 3 - 20px);
}

/* Form */
.container form .feedback{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .feedback .input-box{
    margin: 20px 0 12px 0;
    width: calc(100% / 3 - 20px);
}

.feedback .input-box input{
    height: 30px;
    width: 100%;
    padding-left: 5px;
}

.feedback .input-box input{
    height: 30px;
    width: 100%;
    padding-left: 5px;
}

.feedback .input-box .details{
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
}