* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

.title img{
    width: 200px;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.container{
    max-width: 500px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.container .title{
    font-weight: 500;
    position: relative;
}

.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .user-details .input-box{
    margin: 20px 0 12px 0;
    width: calc(100% / 2 - 20px);
}

.user-details .input-box input{
    height: 30px;
    width: 100%;
    padding-left: 5px;
}

.user-details .input-box .details{
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
}

select {
    width: 100%;
    height: 30px;
    text-align: center;
}

select option{
    text-align: left;
}

form .button{
    padding-top: 10px;
    height: 45px;
    margin: 10px 0;
}

form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: #E94D40;
    border-radius: 5px;
}