html, body{
  height: 100%;
  margin: 0;
}

body{
  transition: background 0.3s ease;
  background: white;
}

body.hovered-item1{
  background: #e0b862;
}

body.hovered-item2{
  background: #c082a1;
}

body.hovered-item3{
  background: #1e8fbb;
}

body.hovered-item4{
  background: #6fac86;
}

body.hovered-item5{
  background: #c76648;
}

.container {
  --padding: 10em;
  padding: var(--padding);
  margin: 0;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(15, 1fr);
  gap: 2em;
  
  height: calc(100% - (2*var(--padding)));
  width: 50%;
}

.item1 {
  grid-row: span 8;
}

.item2 {
  grid-row: 9 / span 7;
}

.item3 {
  grid-column: 2;
  grid-row: span 15;
}

.item4 {
  grid-column: 3;
  grid-row: 1 / span 10;
}

.item5 {
  grid-column: 3;
  grid-row: 11 / span 5;
}

.item img{
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  box-sizing: border-box;
}
