@import url("https://fonts.googleapis.com/css2?family=Manrope");

:root {
  --font-manrope: "Manrope", sans-serif;
}

body {
  font-family: var(--font-manrope);
  margin: 0;
  padding: 50px 0 20px 0;
  background-color: rgb(10, 10, 10);
}

.container {
  display: grid;
  grid-template-columns: repeat(3, minmax(400px, 1fr));
  gap: 90px;
  max-width: 90%;
  padding: 20px;
  color: rgb(211, 211, 211);
  margin: 0 auto;
}

.albumwrapper iframe {
  border-radius: 12px;
  backdrop-filter: blur(400px);
}

.album {
  text-align: center;
}

.album img {
  width: 100%;
  border-radius: 8px;
}

.album h2 {
  margin: 10px 0px 2px 5px;
  text-align: left;
  font-size: 14px;
  color: rgb(109, 109, 109);
}

.album p {
  margin-top: 15px;
  margin-left: 5px;
  font-size: 18px;
  text-align: left;
}

footer {
  font-family: var(--font-manrope);
  font-size: 1em;
  color: rgb(94, 94, 94);

  display: block;
  text-align: center;
  margin-top: 2em;
}
