@import url("https://fonts.googleapis.com/css2?family=Manrope");

:root {
  --font-manrope: "Manrope", sans-serif;
}

html {
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
  scroll-padding-top: 70px;
}

body {
  font-family: var(--font-manrope);
  margin: 0;
  padding: 50px 0 20px 0;
  background-color: rgb(10, 10, 10);
}

.container {
  display: grid;
  grid-template-columns: repeat(3, minmax(400px, 1fr));
  gap: 90px;
  max-width: 90%;
  padding: 20px;
  color: rgb(211, 211, 211);
  margin: 0 auto;
}

.albumwrapper iframe {
  border-radius: 12px;
  backdrop-filter: blur(400px);
}

[class*="album"] {
  text-align: center;
}

[class*="album"] img {
  width: 100%;
  border-radius: 8px;
}

[class*="album"] h2 {
  margin: 10px 0px 2px 5px;
  text-align: left;
  font-size: 14px;
  color: rgb(109, 109, 109);
}

[class*="album"] p {
  margin-top: 15px;
  margin-left: 5px;
  font-size: 18px;
  text-align: left;
}

footer {
  font-family: var(--font-manrope);
  font-size: 1em;
  color: rgb(94, 94, 94);

  display: block;
  text-align: center;
  margin-top: 11em;
}

@media (max-width: 600px) {
  .container {
    display: block; /* Change display to block */
    max-width: 100%; /* Adjust max-width */
    padding: 0 10px; /* Adjust padding */
    gap: 20px; /* Adjust gap */
  }

  .album {
    margin: 0 auto; /* Center albums horizontally */
    width: calc(90% - 10px); /* Adjust width */
    margin-bottom: 5em;
  }
}
/* 
@media (min-width: 1366px) {
  [class*="album"]:nth-child(1),
  [class*="album"]:nth-child(4),
  [class*="album"]:nth-child(7) {
    scroll-snap-align: start;
  }
} */
